# build folders
build/
build_*/

# project files
*.user
*.user.*

# google test library
lib/gtest

# backup files
*.backup

# temp fies
test/temp*

# gtags for emacs
GPATH
GRTAGS
GTAGS

# mac
.DS_Store

# clion
.idea/

# qtcreator generic project files
*.creator
*.files
*.includes
*.config
